/* ************************* resets ******************************* */

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

nav ul, nav ol {
    list-style-type: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ************************* header styling ***************************** */

h1{
    font-family: "Alatsi", serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
  color: #061D79;
  text-align: center;
  font-size: 44px;
  padding-top: 40px;
}

h2{
    font-family: "Belleza", serif;
    font-weight: 400;
  font-style: normal;
  padding: 10px;
  text-align: center;
  padding-top: 60px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

/* ************************* banner ***************************** */

#banner {
    width: 1100px;
    height: 250px;
    background-image: url(images/header.jpg);
    margin: auto;
}

/* ************************* sections ***************************** */

ul li a{
    text-decoration: none;
    list-style: none;
    font-family: "Alatsi", serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
    color: black;
}

ul li {
    list-style: none;
    line-height: 1.3em;
}

section{
    background-color: #ABCDEC;
    margin: 10px;
    padding: 10px;
}

body{
    box-sizing: border-box;
    padding: 20px;
    max-width: 960px;
    margin: auto;
    gap: 20px;
    background-color: #F0EAC8;
}

main{
    display: flex;
    margin: auto;
}

/* ************************* footer ***************************** */

footer {
    font-family: "Alatsi", serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
}

footer a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px;
}





/* ************************* colors palet? ***************************** */

/* p {
    color: #061D79;
    color: #ABCDEC;
    color: #F0EAC8;
    color: #87750B;
    color: #F0E201;
    color: #8E0512;
    dark blue
    light blue
    creame
    olive
    yellow
    red
} */